<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css" />

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light color" style="background-color: #e3f2fd;">
    <a class="navbar-brand">Spring library</a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/users">Users<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books">Books</a>
            </li>
        </ul>
        <span class="navbar-text">
      Navbar text with an inline element
    </span>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Add user</h1>
        <!--<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>-->
        <div class="form-group row">
            <label for="username" class="col-2 col-form-label">Username</label>
            <div class="col-xs-3">
                <input class="form-control" type="text" value="Artisanal kale" id="username">
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-2 col-form-label">Password</label>
            <div class="col-xs-3">
                <input class="form-control" type="text" value="Artisanal kale" id="password">
            </div>
        </div>
        <button type="button" class="btn btn-success">Добавить</button>
        <button type="button" class="btn btn-default">Отмена</button>
    </div>

</div><!-- /.container -->

</body>
</html>